<tr>
  <td><%= book.id %></td>
  <td><%= book.name %></td>
  <td><%= book.price %></td>
  <td><%= book.category_name %></td>
  <td><%= book.author_name %></td>
  <td><%= book.quantity %></td>
  <td><%= book.sold %></td>
  <% if book.image.attached? %>
    <td><%= image_tag book.display_image %></td>
  <% else %>
    <td><%= image_tag book.thumbnail %></td>
  <% end %>
  <td>
    <%= form_for [:admin, book], html: {class: "form-check form-switch form-switch-lg"} do |f| %>
      <%= f.check_box :status_before_type_cast, class: "form-check-input", id: "#{book.id}" %>
    <% end %>
  </td>
  <td>
    <%= link_to edit_admin_book_path(book) do %>
      <label class="btn btn-warning">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </label>
    <% end %>
  </td>
</tr>
