<div class="body-app">
  <div class="my-body-app">
    <div class="login">
      <div class="login-title"><%= t ".welcome_to" %></div>
      <div class="login-form">
        <div class="login-form-contain">
          <div class="login-form-head">
            <h3><%= t ".sign_in" %></h3>
            <%= link_to t(".sign_up"), signup_path %>
          </div>
          <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :email, t(".email") %>
            <%= f.email_field :email, class: "form-control" %>
            <%= f.label :password, t(".password")  %>
            <%= f.password_field :password, class: "form-control" %>
            <div class="login-form-control">
              <a href="<%= root_path %>" class="login-form-goback">
                <%= t ".go_back" %>
              </a>
              <%= f.submit t(".sign_in"), class: "login-form-login" %>
            </div>
          <% end %>
          <div class="login-form-policy">
            <p><%= t ".policy_accept" %>
              <a href="" class="login-form-policy-link">
                <%= t ".policy_2" %>
              </a>&
              <a href="" class="login-form-policy-link">
                <%= t ".policy_3" %>
              </a>
            </p>
          </div>
          <div class="alertLogin"></div>
          <div class="IFLxoY">
            <div class="_3svg61"></div>
            <span class="_1ZEpVL"><%= t ".or_1" %></span>
            <div class="_3svg61"></div>
          </div>
          <div class="login-form-social">
            <a href="" class="social-facebook">
              <i class="footer-icon fa fa-facebook-official"></i>
              <p><%= t ".connect_facebook" %></p>
            </a>
            <a href="" class="social-google">
              <i class="fa fa-google-plus-square" aria-hidden="true"></i>
              <p><%= t ".connect_google" %></p>
            </a>
          </div>
          <div class="login-form-switch">
            <%= t ".new_member" %>
            <%= link_to t(".sign_up"), signup_path, class="login-switch-login" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
