<div class="body-app">
  <div class="my-body-app">
    <div class="signup">
      <div class="signup-title"><%= t ".welcome_to" %></div>
      <div class="signup-form">
        <div class="signup-form-contain">
          <div class="signup-form-head">
            <h3><%= t ".sign_up" %></h3>
            <%= link_to t(".sign_in"), new_user_session_path %>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.label :name, t(".name") %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
            <div class="field">
              <%= f.label :email, t(".email") %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :password, t(".password") %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation, t(".confirmation") %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div class="signup-form-control">
              <%= link_to root_path do %>
                <button class="signup-form-goback"><%= t ".go_back" %></button>
              <% end %>
              <%= f.submit t(".sign_up"), class: "signup-form-signup" %>
            </div>
          <% end %>
          <div class="signup-form-policy">
            <p><%= t ".policy_accept" %>
              <a href="" class="signup-form-policy-link">
                <%= t ".policy_2" %>
              </a>&
              <a href="" class="signup-form-policy-link">
                <%= t ".policy_3" %>
              </a>
            </p>
          </div>
          <div class="IFLxoY">
            <div class="_3svg61"></div>
            <span class="_1ZEpVL"><%= t ".or_1" %></span>
            <div class="_3svg61"></div>
          </div>
          <div class="signup-form-social">
            <%= link_to user_facebook_omniauth_authorize_path, class: "social-facebook", method: :post do %>
              <i class="footer-icon fa fa-facebook-official"></i>
              <p><%= t ".connect_facebook" %></p>
            <% end %>
            <%= link_to user_google_oauth2_omniauth_authorize_path, class: "social-google", method: :post do %>
              <i class="fa fa-google-plus-square" aria-hidden="true"></i>
              <p><%= t ".connect_google" %></p>
            <% end %>
          </div>
          <div class="signup-form-switch">
            <%= t ".have_account" %>
            <%= link_to t(".sign_in"), new_user_session_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
