<tr>
  <td><%= order.id %></td>
  <td><%= order.name %></td>
  <td><%= order.phone_num %></td>
  <td><%= order.address %></td>
  <td><%= l order.updated_at, format: :custom %></td>
  <%= status_order order.status.to_sym %>
  <td>
    <%= link_to admin_order_path(order.id), remote: true do %>
        <label class="btn btn-warning">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </label>
    <% end %>
  </td>
</tr>
