<div class="modal fade" id="order-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= t ".order_detail" %>:
        </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <%= render partial: "status_form", locals: {order: order} %>
          </div>
          <div class="col-6 text-danger">
            <%= "#{t ".order_id"}: #{order.id}" %>
          </div>
        </div>
        <hr>
        <% if order_details.empty? %>
          <h3><%= t ".not_found_order_details" %></h3>
        <% else %>
          <div class="table-responsive table-striped">
            <table class=" table table-sm" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr class="table-info">
                  <th><%= t ".stt" %></th>
                  <th><%= t ".book_name" %></th>
                  <th><%= t ".price" %></th>
                  <th><%= t ".quantity" %></th>
                  <th><%= t ".total_money" %></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "order_details", collection: order_details,
                                              as: :od %>
              </tbody>
            </table>
          </div>
          <%= render partial: "reason", locals: {order: order, order_details: order_details} %>
        <% end %>
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
