<div class="grid-column-new2">
  <a href="<%= book_path book.id %>" class="home-product-item">
    <% if book.image.attached?%>
      <div class="product-item-img" style="background-image: url(<%=url_for(book.image)%>);"></div>
    <% else %>
      <div class="product-item-img" style="background-image: url(<%= book.thumbnail %>);"></div>
    <% end %>
    <h4 class="product-item-name">
      <%= book.name %>
    </h4>
    <div class="product-item-price">
      <span class="product-item-price-old"></span>
      <span class="product-item-price-current"><%= number_to_currency book.price %></span>
    </div>
    <div class="product-item-rating">
      <span class="rating-heart">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </span>
      <div class="rating-star">
        <%= render_star(book.rate_avg) %>
      </div>
      <span class="rating-number-sold"><%= t(".is_sold") %></span>
    </div>
    <div class="product-item-origin">
      <span><%= t(".ha_noi") %></span>
    </div>
    <div class="product-item-favourite">
      <i class="fa fa-check" aria-hidden="true"></i>
      <%= t(".is_love") %>
    </div>
  </a>
</div>
