<% provide :title, t(".title") %>
<div class="body-app body-history">
  <div class="my-body-2-app">
    <div class="my-product-contain">
      <div class="product-contain-title">
        <%= t ".title" %>
      </div>
      <div class="product-contain-body container-fluid">
        <div class="contain-body-head row">
          <div class="btn-group btn-group-lg col-12" role="group">
            <%= render "filter" %>
          </div>
        </div>
        <div class="product-body-main fs-3", id="cart_products">
          <table class="table table-bordered text-center" height="100%" cellspacing="0">
            <thead class="thead-dark">
              <tr>
                <th><%= t ".stt" %></th>
                <th><%= t ".code" %></th>
                <th><%= t ".created_at" %></th>
                <th><%= t ".updated_at" %></th>
                <th><%= t ".total_money" %></th>
                <th><%= t ".status" %></th>
                <th><%= t ".action" %></th>
              </tr>
            </thead>
            <tbody id="orders">
              <%= render partial: "order", collection: @orders %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="order-content"></div>
