<div class="collapse navbar-collapse navbar-ex2-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
      <%= link_to admin_products_path, class: "collapse" do %>
        </i><%= t "admin.text_menu_product" %> <i class="fa fa-fw fa-angle-down pull-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to admin_products_path, class: "collapse" do %>
        </i><%= t "admin.text_menu_user" %> <i class="fa fa-fw fa-angle-down pull-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to admin_purchases_path,class: "collapse" do %>
        </i><%= t "admin.text_menu_order" %> <i class="fa fa-fw fa-angle-down pull-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to new_admin_category_path, class: "collapse" do %>
        </i><%= t "admin.text_menu_request" %> <i class="fa fa-fw fa-angle-down pull-right"></i>
      <% end %>
    </li>
  </ul>
</div>
