<tr>
  <td><%= user_counter + 1 %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone_num %></td>
  <td><%= user.address %></td>
  <td><%= user.orders.count %></td>
  <td><%= number_to_currency total_money_orders(user) %></td>
  <% if user.access_locked? %>
    <td><%= t ".locked" %></td>
    <td>
      <%= link_to ban_admin_user_path(user), method: :patch do %>
        <label class="btn btn-success">
          <i class="fa fa-get-pocket" aria-hidden="true"></i>
        </label>
      <% end %>
    </td>
  <% else %>
    <td><%= t ".activate" %></td>
    <td>
      <%= link_to ban_admin_user_path(user), method: :patch do %>
        <label class="btn btn-danger">
        <i class="fa fa-ban" aria-hidden="true"></i>
      </label>
      <% end %>
    </td>
  <% end %>
</tr>
