<footer class="footer">
  <div class="grid">
    <div class="grid__row">
      <div class="grid-column-new2">
        <h3 class="footer-heading"><%= t ".h3_take" %></h3>
        <ul class="footer-list">
        </ul>
      </div>
      <div class="grid-column-new2">
        <h3 class="footer-heading"><%= t ".h3_into" %></h3>
        <ul class="footer-list">
        </ul>
      </div>
      <div class="grid-column-new2">
        <h3 class="footer-heading"><%= t ".h3_category" %></h3>
        <ul class="footer-list">
        </ul>
      </div>
      <div class="grid-column-new2">
        <h3 class="footer-heading"><%= t ".h3_follow" %></h3>
        <ul class="footer-list">
          <li class="footer-item">
          <i class="footer-icon fa fa-facebook-official"></i>
            <%= t ".facebook" %>
          </li>
          <li class="footer-item">
            <i class="footer-icon fa fa-instagram"></i>
              <%= t ".instagram" %>
          </li>
          <li class="footer-item">
            <i class="footer-icon fa fa-linkedin-square"></i>
              <%= t ".linkedin" %>
          </li>
        </ul>
      </div>
      <div class="grid-column-new2">
        <h3 class="footer-heading"><%= t ".h3_store" %></h3>
        <ul class="footer-list">
          <li class="footer-item">
          </li>
          <li class="footer-item">
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
