<header class="header">
  <div class="grid">
    <nav class="header__navbar">
      <ul class="header__navbar-list">
        <li class="header__navbar-item">Vào cửa hàng trên ứng dụng
        </li>
        <li class="header__navbar-item header__navbar-item-connect">Kết nối
          <a href="" class="header__navbar-item-link">
            <i class="header__navbar-icon fa fa-facebook-official"></i>
          </a>
          <a href="" class="header__navbar-item-link">
            <i class="header__navbar-icon fa fa-instagram"></i>
          </a>
        </li>
      </ul>
      <ul class="header__navbar-list">
        <li class="header__navbar-item header__navbar-item-hasnotify">
          <i class="fa fa-bell" aria-hidden="true"></i>
          <a href="" class="header__navbar-item-link">Thông báo</a>
          <div class="header__notify">
            <header class="header__notify-head">
              <h3>Thông báo mới nhận</h3>
            </header>
            <!-- Thong bao -->
            <ul class="header__notify-list">
              <li class="header__notify-item">
                <a href="" class="header__notify-link">
                  <img src="https://phunugioi.com/wp-content/uploads/2020/10/hinh-anh-chao-minh-truong-powerpoint.jpg"
                                                alt="" class="header__notify-img">
                  <div class="header__notify-info">
                    <span class="header__notify-name">Chào mừng bạn đến với Ebook !</span>
                    <span class="header__notify-dis">Cửa hàng chúng tôi chuyên bán các loại
                      sách tốt với giá rẻ
                      cùng nhiều ưu đãi hấp dẫn.
                    </span>
                  </div>
                </a>
              </li>
              <li class="header__notify-item">
                <a href="" class="header__notify-link">
                  <img src="https://kingshop.vn/data/images/3%281%29.jpg" alt=""
                                                class="header__notify-img">
                  <div class="header__notify-info">
                    <span class="header__notify-name">Mua ngay kẻo lỡ</span>
                    <span class="header__notify-dis">
                      Mua hàng ngay để nhận được nhiều ưu đãi từ shop bạn nhé!
                    </span>
                  </div>
                </a>
              </li>
              <li class="header__notify-item">
                <a href="" class="header__notify-link">
                  <img src="https://static.tapchitaichinh.vn/images/upload/hoxuantruong/2016_09_01/ep_-_the_viral_myth_NZUA.jpg"
                                                alt="" class="header__notify-img">
                  <div class="header__notify-info">
                    <span class="header__notify-name">Chia sẻ ngay đi, chần chờ gì nữa
                      !</span>
                    <span class="header__notify-dis">
                      Chia sẻ nhận xét của bạn về các tính năng của cửa hàng để giúp
                      mình cải thiện chất lượng dịch vụ
                    </span>
                  </div>
                </a>
              </li>
              <li class="header__notify-item">
                <a href="" class="header__notify-link">
                  <img src="https://cf.shopee.vn/file/67d0ef3d3fc8897213c9a1f84ee561e1" alt=""
                                                class="header__notify-img">
                  <div class="header__notify-info">
                    <span class="header__notify-name">Sách giảm giá </span>
                    <span class="header__notify-dis">Cuốn sách Mắt Biếc đang là sản phẩm bán
                      chạy
                      và được giảm giá, mua ngay kẻo lỡ !
                    </span>
                  </div>
                </a>
              </li>
              <li class="header__notify-item">
                <a href="" class="header__notify-link">
                  <img src="https://scontent-sin6-4.xx.fbcdn.net/v/t1.6435-9/171439644_290910599373924_2770324636360157247_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=6d_1YuMWm5cAX8K-zrd&_nc_ht=scontent-sin6-4.xx&oh=fed55732e5aab61f1f31888dcbd4b4af&oe=61C5FBED"
                                                alt="" class="header__notify-img">
                  <div class="header__notify-info">
                    <span class="header__notify-name">Voucher của Ebook phát người
                      yêu</span>
                    <span class="header__notify-dis">
                      Ai chưa có người yêu thì gọi ngay bạn Nhật Anh đẹp trai nhé, vã lắm
                      rồi
                    </span>
                  </div>
                </a>
              </li>
            </ul>
            <footer class="header__notify-footer">
              <a href="">Xem tất cả</a>
            </footer>
          </div>
        </li>
        <li class="header__navbar-item">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          <a href="" class="header__navbar-item-link">Trợ giúp</a>
        </li>
      <% if logged_in? %>
        <li class="header__navbar-item header__navbar-user">
          <img src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png" alt=""
                                    class="header__navbar-userimg">
          <span class="header__navbar-userspan">
            <%= @current_user.name %>
          </span>
          <ul class="navbar__user-menu">
            <li>
              <a href="/users/<%= current_user.id %>">Tài khoản của tôi</a>
            </li>
            <li>
              <a href="/personalshop/">Cửa hàng của tôi</a>
            </li>
            <li>
              <a href="/cart/">Đơn mua</a>
            </li>
            <li>
              <%= link_to "Đăng xuất", logout_path, method: :delete %>
            </li>
          </ul>
        </li>
        <% else %>
        <a href="<%= signup_path %>" class="register_link">
          <li class="header__navbar-item header__navbar-item-register">Đăng Ký</li>
        </a>
        <a href="<%= login_path %>" class="login_link">
          <li class="header__navbar-item header__navbar-item-register">Đăng Nhập</li>
        </a>
        <% end %>
      </ul>
    </nav>
    <div class="header-with-search">
      <div class="header__logo">
        <a href="<%= root_path %>">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <span class="logo-text">Ebook</span>
        </a>
      </div>
      <div class="header__search">
        <input type="text" class="header__search-input" placeholder="Nhập để tìm kiếm sản phẩm">
        <div class="header__search-select">
          <span>tim kiem  </span>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        <button class="header__search-btn">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <div class="header__cart">
        <div class="header__cart-wrap">
          <i class="header__cart-icon fa fa-shopping-cart"></i>
          <span class="header__cart-number">0</span>
          <div class="header__cart-list no-cart">
            <h4>Sản phẩm đã thêm</h4>
            <ul class="cart__list-item">
            </div>
          </div>
        </div>
      </div>
    </header>
