<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="mid">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>

    <div class="container mt-4 row text-center">
      <div class="messages">
          <div id="fb-root"></div>
          <div id="fb-customer-chat" class="fb-customerchat">
          </div>
        </div>
    </div>
    <%= render "layouts/footer" %>
  <%= javascript_pack_tag "plugin_message.js", media: "all", "data-turbolinks-track": "reload" %>
  </body>
</html>
